
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    
    height: 100vh;
    background-color: var(--bg-light);
    


    img{
        width: 225px;
        
        
        
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
     
    }
    h2{
        margin: 4px;
        text-transform: uppercase;
        font-size: 16px;
    }
}

.project{
    margin: 24px;
    transition: 0.3s all ease;
}

.project:hover{
    transform: scale(1.05);
}

.project-wrap{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-header{
    
    text-shadow: 3px 3px 3px gray;
    width: fit-content;
    margin: 32px auto;
    padding: 8px;
    color: black;
    border-radius: 5px;
    font-family: "Forum" , serif;
    text-transform: uppercase;
    font-weight: bold;
}